@media (max-width: 991px) {


    .navbar-nav {
        width: 360px;
        margin: 20px auto;
        text-align: center;
        background-color: $white;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        padding  : 20px  ;
        margin-top: 30px;
        .nav-item {

            .nav-link {
                text-align: center;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }
        }

        .mainBtn-nav {
            text-align: center !important;
            margin  : 0 auto  !important;

        }
    }
}

.toggler {
    box-shadow: none !important;
    border : none !important ;
    background: none  !important;
  
}